In [224]:
import pandas as pd
import numpy as np

In [225]:
data = pd.read_csv('180422_180428_data_table.csv')

In [226]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,일자,20180422,20180422.1,20180423,20180423.1,...,20180425,20180425.1,20180426,20180426.1,20180427,20180427.1,20180428,20180428.1,계,계.1
0,가로명,방면,요일,순번(LV2),시작지점,종료지점,승용차,버스,승용차,버스,...,승용차,버스,승용차,버스,승용차,버스,승용차,버스,승용차,버스
1,강남로,상행,일요일,1,태화R,번영교남교차로,0,0,-,-,...,-,-,-,-,-,-,-,-,0,0
2,강남로,상행,일요일,2,번영교남교차로,학성교남교차로,"19,954",0,-,-,...,-,-,-,-,-,-,-,-,"19,954",0
3,강남로,상행,일요일,3,학성교남교차로,명촌교남단,0,16,-,-,...,-,-,-,-,-,-,-,-,0,16
4,강남로,상행,월요일,1,태화R,번영교남교차로,-,-,0,0,...,-,-,-,-,-,-,-,-,0,0

In [227]:
col = list(data.columns)
col[0] = '가로명'
col[1] = '방면'
col[2] = '요일'
col[3] = '순번'
col[4] = '시작지점'
col[5] = '종료지점'
col[-1] = 'BUS'
col[-2] = 'CAR'
data.columns = col
data = data.iloc[1:]

요일별 column과 필요하지 않은 column 삭제 <br>
통행량의 절대량만 필요하기 때문에 방면도 삭제

In [228]:
data = data.drop(['요일','순번','방면'] + list(data.columns[6:-2]), axis=1)
data.head()

   가로명     시작지점     종료지점     CAR BUS
1  강남로      태화R  번영교남교차로       0   0
2  강남로  번영교남교차로  학성교남교차로  19,954   0
3  강남로  학성교남교차로    명촌교남단       0  16
4  강남로      태화R  번영교남교차로       0   0
5  강남로  번영교남교차로  학성교남교차로  24,396   0

CAR 의 type 확인

In [229]:
type(data['CAR'].iloc[0])

str

Need conversion to integer (from string formatting with comma)

In [231]:
# example
a = '12,233'
int(a.replace(',',''))

12233

In [232]:
data['Car'] = data['CAR'].apply(lambda x : int(x.replace(',','')))
data['Bus'] = data['BUS'].apply(lambda x : int(x.replace(',','')))

In [233]:
data = data.drop(['CAR','BUS'],axis=1)
type(data['Car'].iloc[0])

numpy.int64

int type 으로 변환됨을 확인

In [234]:
len(data)

3125

drop the missing values <br>
중간 summary 로 total 해주는 부분 제거

In [114]:
data = data.dropna()

In [115]:
len(data)

2933

In [49]:
ulsan_node = pd.read_csv('ulsan_nodes.csv')
ulsan_node.head()

,Unnamed: 0,Id,NODE_TYPE,NODE_NAME,TURN_P,REMARK,USER_ID,WORKSTATE,DEPT_CODE,STNL_REG,TMPID,UPLOAD_ID,latitude,longitude
0,0,1920003500,104,사례교,0,NaN,ussi,5,31000.0,192,NaN,NaN,35.594499,129.347704
1,1,1920003600,104,사례교,0,NaN,ussi,5,31000.0,192,NaN,NaN,35.595572,129.347603
2,2,1920002100,101,-,1,NaN,ussi,5,31000.0,192,NaN,NaN,35.564435,129.327960
3,3,1920002600,101,동중 삼거리,1,NaN,ussi,5,31000.0,192,NaN,NaN,35.574493,129.338874
4,4,1920002400,101,중구청 삼거리,1,NaN,ussi,5,31000.0,192,NaN,NaN,35.569200,129.331570

Column 'WORKSTATE' 에 들어있는 값 확인

In [53]:
set(ulsan_node['WORKSTATE'])
# WorkState is all 5 -> remove it

{5}

Column 'UPLOAD_ID' 에 들어있는 값 확인

In [55]:
set(ulsan_node['UPLOAD_ID'])
# Not a useful information -> remove it

{'bokdosa20151231141247',
 'mappers20161007133943',
 'mappers20161012110607',
 'mappers20161115151214',
 'mappers20170406143354',
 'mappers20170517173002',
 'mappers20170614193236',
 'mappers20170927165417',
 'mappers20171117162942',
 nan,
 'nodelinkmanager2016061510',
 'winer01720150622151042'}

In [60]:
ulsan_node = ulsan_node[['Id','NODE_TYPE','NODE_NAME','STNL_REG','latitude','longitude']]
ulsan_node.head()

           Id  NODE_TYPE NODE_NAME  STNL_REG   latitude   longitude
0  1920003500        104       사례교       192  35.594499  129.347704
1  1920003600        104       사례교       192  35.595572  129.347603
2  1920002100        101         -       192  35.564435  129.327960
3  1920002600        101    동중 삼거리       192  35.574493  129.338874
4  1920002400        101   중구청 삼거리       192  35.569200  129.331570

In [138]:
# add zero colums for ulsan_node table
ulsan_node['Car'] = 0
ulsan_node['Bus'] = 0

In [209]:
type(data.iloc[0]['Car'])

numpy.int64

In [217]:
len(ulsan_node.loc[ulsan_node['NODE_NAME'] == '울산대학교','Car'])

1

In [216]:
len(ulsan_node.loc[ulsan_node['NODE_NAME'] == '울산1123대학교','Car'])

0

다른 소스로 부터 받은 데이터셋 이기 때문에 도로명 표기가 약간씩 차이가 납니다. <br>
기존의 울산 노드 데이터와 NODE_NAME 이 정확히 일치 하지 않는 경우 교통량을 집계 할 수 없는데 <br>
이런 경우가 얼마나 있는지 확인하기 위해 missing_car와 missing_bus 의 수를 세어 보았습니다.

In [218]:
total_car = 0
total_bus = 0
missing_car = 0
missing_bus = 0
for idx,row in data.iterrows():
    total_car += row['Car'] * 2
    total_bus += row['Bus'] * 2
    
    if(len(ulsan_node.loc[ulsan_node['NODE_NAME'] == row['시작지점'],'Car']) > 0 ): # 노드에 있는 도로의 경우
        ulsan_node.loc[ulsan_node['NODE_NAME'] == row['시작지점'],'Car'] += row['Car'] # 자동차 대수를 증가 시킵니다.        
    else:
        missing_car += row['Car'] # 노드에 없는 이름인 경우 missing value 를 증가 시킵니다.
    
    if(len(ulsan_node.loc[ulsan_node['NODE_NAME'] == row['종료지점'],'Car']) > 0 ):
        ulsan_node.loc[ulsan_node['NODE_NAME'] == row['종료지점'],'Car'] += row['Car']
    else:
        missing_car += row['Car']
    
    if(len(ulsan_node.loc[ulsan_node['NODE_NAME'] == row['시작지점'],'Bus']) > 0):
        ulsan_node.loc[ulsan_node['NODE_NAME'] == row['시작지점'],'Bus'] += row['Bus']
    else:
        missing_bus += row['Bus']
    
    if(len(ulsan_node.loc[ulsan_node['NODE_NAME'] == row['종료지점'],'Bus']) > 0):
        ulsan_node.loc[ulsan_node['NODE_NAME'] == row['종료지점'],'Bus'] += row['Bus']
    else:
        missing_bus += row['Bus']

In [220]:
missing_car / total_car

0.7124665727606904

In [221]:
missing_bus / total_bus

0.7306401211899067

차량과 버스 모두 70% 이상의 데이터가 반영되지 않기 때문에 교통량 데이터를 합치는 것은 포기하였습니다...

In [219]:
ulsan_node

,Id,NODE_TYPE,NODE_NAME,STNL_REG,latitude,longitude,Car,Bus
0,1920003500,104,사례교,192,35.594499,129.347704,0,0
1,1920003600,104,사례교,192,35.595572,129.347603,0,0
2,1920002100,101,-,192,35.564435,129.327960,0,0
3,1920002600,101,동중 삼거리,192,35.574493,129.338874,351626,9338
4,1920002400,101,중구청 삼거리,192,35.569200,129.331570,0,28370
5,1920001300,101,북정 교차로,192,35.561632,129.319473,0,19712
6,1920002200,101,동덕아파트앞,192,35.564715,129.328145,0,4204
7,1920002000,101,복산 삼거리,192,35.563174,129.326581,0,628
8,1920000200,101,구삼호교북단,192,35.555091,129.275956,0,0
9,1920000300,101,다운사거리,192,35.555804,129.276074,0,35202
10,1920001900,101,다운아파트단지입구,192,35.563320,129.266762,0,0
11,1920002700,103,-,192,35.575882,129.265933,0,0
12,1920002900,101,-,192,35.579911,129.342041,0,0
13,1920001700,101,-,192,35.562178,129.310726,0,0
14,1920000600,101,-,192,35.557933,129.281532,0,0
15,1920000500,101,제일중입구,192,35.557358,129.284404,0,0
16,1920000400,101,중앙고등학교앞,192,35.556593,129.286515,0,7676
17,1920000800,103,-,192,35.560427,129.299484,0,0
18,1920014600,103,-,192,35.567811,129.346246,0,0
19,1920003800,104,-,192,35.551023,129.341708,0,0
20,1920004000,104,-,192,35.551231,129.339299,0,0
21,1920004200,101,가구삼거리,192,35.551500,129.335910,588084,17296
22,1920004700,101,-,192,35.552242,129.326291,0,0
23,1920005100,101,-,192,35.552511,129.323625,0,0
24,1920005600,101,-,192,35.552707,129.321824,0,0
25,1920005900,101,성남삼거리,192,35.552830,129.320189,0,0
26,1920007100,101,옥교사거리,192,35.554114,129.323938,0,12368
27,1920008200,101,세치사거리,192,35.555319,129.330242,0,0
28,1920009000,101,학성공앞오거리,192,35.555883,129.337132,0,0
29,1920009500,101,안국한의원앞사거리,192,35.556050,129.325335,0,8046
...,...,...,...,...,...,...,...,...
2790,1960080400,103,문수TG,196,35.516934,129.245402,0,0
2791,1960005801,108,문수IC교차로(남측),196,35.512175,129.236858,0,0
2792,1960348000,101,반천산단3번교차로,196,35.560878,129.144776,0,0
2793,1960348100,101,반천산단6번교차로,196,35.565726,129.147089,0,0
2794,1960348200,101,반천산단2번교차로,196,35.558212,129.148990,0,0
2795,1960348300,101,반천산단1번교차로,196,35.556497,129.151747,0,0
2796,1960348400,101,반천산단8번교차로,196,35.563081,129.153029,0,0
2797,1960348500,101,반천산업단지입구,196,35.549367,129.161285,0,0
2798,1960348600,102,율리1011,196,35.519934,129.227430,0,0
2799,1960348700,101,청송1교(서측),196,35.519726,129.229337,0,0
2800,1960348800,101,청송1교(동측),196,35.519150,129.233025,0,0
2801,1960348900,101,청송2교(서측),196,35.519014,129.233468,0,0
2802,1960349000,101,청송2교(동측),196,35.518485,129.234779,0,0
2803,1960349100,108,문수IC교차로(서측),196,35.517169,129.237232,0,0
2804,1960349200,108,문수IC교차로(남측분기),196,35.514565,129.238581,0,0
2805,1960349300,108,문수IC교차로(서측분기),196,35.517831,129.240737,0,0
2806,1960349400,108,문수IC교차로(북측분기),196,35.518443,129.241632,0,0
2807,1960349500,108,문수IC교차로(동측),196,35.516769,129.243611,0,0
2808,1960005400,101,제네삼거리,196,35.474089,129.294128,0,8708
2809,1960005408,101,청량IC교차로(북측),196,35.483527,129.291883,0,0
2810,1960005407,101,청량IC교차로(남측),196,35.477126,129.293727,0,0
2811,1960080100,103,청량TG,196,35.479643,129.288213,0,0
2812,1960353700,108,청량IC(동측),196,35.479744,129.285229,0,0
2813,1960353800,101,청량IC교차로(서측),196,35.479531,129.290150,0,0
2814,1960353900,101,청량IC교차로분기점(서측),196,35.479879,129.292457,0,0
2815,1960354000,101,청량IC교차로분기점(동측),196,35.480074,129.293055,0,0
2816,1960354100,101,청량IC교차로분기점(남측),196,35.478318,129.293869,0,0
2817,1960354200,101,청량IC교차로분기점(북측),196,35.480510,129.294754,0,0
2818,1960354300,101,청량IC교차로(동측),196,35.480270,129.295905,0,0
2819,1960356100,101,신일반산업단지입구,196,35.476644,129.328424,0,0

traffic 이 들어간 곳이 간혹 보이지만 0,0 인 곳이 더 많음을 확인

In [208]:
ulsan_node.to_csv('traffic_ulsan_node.csv')